<! -- File name: error.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn2.azurewebsites.net/
	  Description: This is the view for any possible errors -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
