<! -- File name: contacts.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn2.azurewebsites.net/
	  Description: This is the view for the contact page -->

<%- include partials/header.ejs %>
<div class="main">
	<div class="page-header">
			<h1><%= title %></h1>
	</div>
	<div class="jumbotron">
		<div class="container">
			 <p>Here is how you can contact Emma.
			 <br/>Hotmail: <a href="mailto:hilborn_emmav@live.ca">hilborn_emmav@live.ca</a>
			 </p>
		</div>
	</div>
</div>

<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>