<! -- File name: services.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn3.azurewebsites.net/
	  Description: This is the view for the services page -->

<%- include partials/header.ejs %>
<div class="main">
	<div class="page-header">
			<h1><%= title %></h1>
	</div>
	<div class="jumbotron">
		<div class="container">
		    <p>Emma can help you create projects using any of the following programming languages:</p>
			<ul>
				<li>Java</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>SQL</li>
				<li>C#</li>
				<li>JavaScript (including Express)</li>
				<li>Node</li>
			</ul>
		</div>
	</div>
</div>

<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>