<!--
  File name: add.ejs
  Author's name: Emma Hilborn
  Website name: http://emmavhilborn2.azurewebsites.net/
  Description: This is the view for adding a new contact
 -->

<% include ../partials/header.ejs %>

<main class="container">
    <h1><%= title %></h1>
       <div class="jumbotron">
        <form method="post">
            <fieldset class="form-group">
                <label for="name">Name: *</label>
                <input name="name" type="text" class="form-control" required autofocus />
            <fieldset class="form-group">
                <label for="email">Email: *</label>
                <input name="email" type="email" class="form-control" required />
            </fieldset>
			<fieldset class="form-group">
                <label for="phone">Phone Number: *</label>
                <input name="phone" type="text" class="form-control" required />
            </fieldset>
            </fieldset>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </fieldset>
        </form>
    </div>

</main>

<% include ../partials/footer.ejs %>